html{
    height: 100%;
}
body{
    height: 100%;
}

.push-right{
    margin-right: 5px;
}

.progress {
    position: relative;
    height: 25px;
}
.progress > .progress-type {
    position: absolute;
    left: 0;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
    position: absolute;
    right: 0;
    font-weight: 800;
    padding: 3px 10px 2px;
}

.list-arrows {
    padding-top: 100px;
}

.list-arrows button {
    margin-bottom: 20px;
}

.dualmultiselect label {
    margin: 10px;
}

.dualmultiselect .btn {
    margin: 10px;
}

.dualmultiselect .pool {
    background: white;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    height: 150px;
    overflow-y: scroll;
}

.dualmultiselect .pool ul {
    list-style: none;
    padding-left: 0;
}

.dualmultiselect .pool ul li {
    width: 100%;
    padding: 4px 8px 4px 4px;
    border-bottom: 1px dotted #CFCFCF;
}

.dualmultiselect .pool ul li a:hover {
    text-decoration: none;
}

.flow{
    max-height:300px;
    overflow-y:auto;
}

.trim-well{
    margin-bottom: 0;
    padding: 0;
    height: 300px;

}.tile_count {
     margin-bottom: 20px;
     margin-top: 20px;
 }

.tile_count div:first-child .left {
    border: 0;
}

.tile_count .tile_stats_count {
    border-left: 0 solid #333;
    padding: 0;
}

.tile_stats_count .left {
    width: 15%;
    float: left;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
}

.tile_stats_count .right {
    padding-left: 10px;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tile_stats_count .right span {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tile_stats_count .count {
    font-size: 40px;
    line-height: 47px;
    font-weight: 600;
}

.tile_stats_count .count small {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}

.count_bottom i {
    width: 12px;
}