html{
    height: 100%;
}
body{
    height: 100%;
}

.sideNav{
    margin-top: 50px;
}

.margin-bottom {
    margin-bottom:15px;
}
.margin-right{
    margin-right:15px;
}

.list-arrows {
    padding-top: 100px;
}

.list-arrows button {
    margin-bottom: 20px;
}

.dualmultiselect label {
    margin: 10px;
}

.dualmultiselect .btn {
    margin: 10px;
}

.dualmultiselect .pool {
    background: white;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    height: 150px;
    overflow-y: scroll;
}

.dualmultiselect .pool ul {
    list-style: none;
    padding-left: 0;
}

.dualmultiselect .pool ul li {
    width: 100%;
    padding: 4px 8px 4px 4px;
    border-bottom: 1px dotted #CFCFCF;
}

.dualmultiselect .pool ul li a:hover {
    text-decoration: none;
}

.flow{
    max-height:300px;
    overflow-y:auto;
}

.trim-well{
    margin-bottom: 0;
    padding: 0;
    height: 300px;

}.tile_count {
     margin-bottom: 20px;
     margin-top: 20px;
 }

.tile_count div:first-child .left {
    border: 0;
}

.tile_count .tile_stats_count {
    border-left: 0 solid #333;
    padding: 0;
}

.tile_stats_count .left {
    width: 15%;
    float: left;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
}

.tile_stats_count .right {
    padding-left: 10px;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tile_stats_count .right span {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tile_stats_count .count {
    font-size: 40px;
    line-height: 47px;
    font-weight: 600;
}

.tile_stats_count .count small {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}

.count_bottom i {
    width: 12px;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.side-menu {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
    border: none;
}
.side-menu .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
    background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
    padding: 15px;
}
.side-menu .navbar-nav li a .glyphicon {
    padding-right: 10px;
}
.side-menu .dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}
.side-menu .dropdown .caret {
    float: right;
    margin: 9px 5px 0;
}
.side-menu .dropdown .indicator {
    float: right;
}
.side-menu .dropdown > a {
    border-bottom: 1px solid #e7e7e7;
}
.side-menu .dropdown .panel-body {
    padding: 0;
    background-color: #f3f3f3;
}
.side-menu .dropdown .panel-body .navbar-nav {
    width: 100%;
}
.side-menu .dropdown .panel-body .navbar-nav li {
    padding-left: 15px;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu .dropdown .panel-body .navbar-nav li:last-child {
    border-bottom: none;
}
.side-menu .dropdown .panel-body .panel > a {
    margin-left: -20px;
    padding-left: 35px;
}
.side-menu .dropdown .panel-body .panel-body {
    margin-left: -15px;
}
.side-menu .dropdown .panel-body .panel-body li {
    padding-left: 30px;
}
.side-menu .dropdown .panel-body .panel-body li:last-child {
    border-bottom: 1px solid #e7e7e7;
}
/* Main body section */
.side-body {
    margin-left: 310px;
}
