<section ng-controller="ChallengesController" ng-init="find()">
  <div class="page-header">
    <h1>Challenge</h1>
  </div>
  <!-- <div class="list-group">
    <a ng-repeat="challenge in challenges" ui-sref="challenges.view({challengeId: challenge._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="challenge.created | date:'mediumDate'"></span>
        by
        <span ng-bind="challenge.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="challenge.title"></h4>
      <p class="list-group-item-text" ng-bind="challenge.content"></p>
    </a>
  </div> -->
</div>
<div>Category Filter:
                <select id="cat-filter" class="filter" ng-model="challengeFilter" ng-options="challenge as challenge.category for challenge in challenges | unique: 'category' | orderBy: 'category'">
                            <option value="">All</option>
				</select>
					<br>
					<br>
				</div>
<table class="table table-striped">
  <thead>
       <tr>
         <th ng-click="sortType = 'created'; reverseSort = !reverseSort">Id</th>
         <th ng-click="sortType = 'name'; reverseSort = !reverseSort">Name</th>
         <th ng-click="sortType = 'category'; reverseSort = !reverseSort">Category</th>
         <th ng-click="sortType = 'points'; reverseSort = !reverseSort">Points</th>
         <th ng-click="sortType = 'solves'; reverseSort = !reverseSort">Solves</th>
       </tr>
     </thead>
    <tr ng-repeat-start="challenge in challenges | filter:{category: challengeFilter.category} | orderBy:sortType:!reverseSort" ng-click="active = !active">
	  <td>{{challenge.created}}</td>
      <td>{{challenge.name}}</td>
      <td>{{challenge.category}}</td>
      <td>{{challenge.points}}</td>
      <td>{{challenge.solves}}</td>
	  <tr ng-show = "active" ng-repeat-end><td colspan="5"><p>
	  {{challenge.description}}
	  <br><br>
	  <input type="text" class="form-control" ng-model="$parent.challenge.created" placeholder="Flag Value">
	  <br>
      <input type="submit" class="submitButton" ng-click="submitItem(challenge.created)">
	  <br><br><br></p>
	  </td></tr>
    </tr>
  </table>
    <div class="alert alert-warning text-center" ng-if="challenges.$resolved && !challenges.length">
      No challenges yet, why don't you <a ui-sref="challenges.create">create one</a>?
    </div>
</section>
