<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<section ng-controller="ChallengesController" ng-init="find()">
  <div class="page-header">
    <h1>Challenges</h1>
  </div>
  <!-- <div class="list-group">
    <a ng-repeat="challenge in challenges" ui-sref="challenges.view({challengeId: challenge._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="challenge.created | date:'mediumDate'"></span>
        by
        <span ng-bind="challenge.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="challenge.title"></h4>
      <p class="list-group-item-text" ng-bind="challenge.content"></p>
    </a>
  </div> -->
</div>
<div>Category Filter:
                <select id="cat-filter" class="filter" ng-model="challengeFilter" ng-options="challenge as challenge.category for challenge in challenges | unique: 'category' | orderBy: 'category'">
                            <option value="">All</option>
				</select>
					<br>
					<br>
				</div>
<table class="table table-striped">
  <thead>
	   <!--
	   This is the top row of the challenge board. It uses the sort function (found in the challenge controller file) to sort all challenges. Ng-show is used to make the up and down carets appear based on sort direction. The points category is sorted backwards, so that sorting up will make the challenges worth the most points appear at the top of the board.
	   -->
      <tr>
         <th ng-click="sort('name')">Name
		 <span ng-show="sortType == 'name' && reverseSort" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'name' && !reverseSort" class="fa fa-caret-up"></span></th>
         <th ng-click="sort('category')">Category
		 <span ng-show="sortType == 'category' && reverseSort" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'category' && !reverseSort" class="fa fa-caret-up"></span></th>
         <th ng-click="sort('points')">Points
		 <span ng-show="sortType == 'points' && !reverseSort" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'points' && reverseSort" class="fa fa-caret-up"></span></th>
         <th ng-click="sort('solves')">Solves
		 <span ng-show="sortType == 'solves' && reverseSort" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'solves' && !reverseSort" class="fa fa-caret-up"></span></th>
       <th ng-click="sort('created')">Created
         <span ng-show="sortType == 'created' && reverseSort" class="fa fa-caret-down"></span>
         <span ng-show="sortType == 'created' && !reverseSort" class="fa fa-caret-up"></span></th>
        <th ng-click="sort('solved')">Solved
          <span ng-show="sortType == 'solved' && reverseSort" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'solved' && !reverseSort" class="fa fa-caret-up"></span></th>
       </tr>
     </thead>
	 <!--
	 The below two rows use ng-repeat to populate the challenge board. The filter in the <tr> fills the category filter with all challenge types found on the board and the ':true' enables filtering by exact matches only.
	 -->
    <tr ng-repeat-start="challenge in challenges | filter:{category: challengeFilter.category}:true | orderBy:sortType:reverseSort" ng-click="active = !active">
      <td>{{challenge.name}}</td>
      <td>{{challenge.category}}</td>
      <td>{{challenge.points}}</td>
      <td>{{challenge.solves}}</td>
      <td>{{challenge.created}}</td>
      <td>{{challenge.solved}}</td>
	  <tr ng-show = "active" ng-repeat-end><td colspan="5">
    <div>
  	  {{challenge.description}}
  	  <br>
      <span ng-if="displayExclude('teamMember') && displayExclude('teamCaptain')"><br><a ng-href="../teams"><font color="red">You must be on a team to submit answers! </font></a></span>
  	  <form name="form">
        <span ng-if="(displayInclude('teamMember') || displayInclude('teamCaptain')) && !challenge.solved && displayExclude('admin')">
          <br>
          <input type="text" class="form-control" ng-model="challenge.solve" placeholder="Flag Value">
          <br>
          <input type="submit" class="submitButton" ng-click="submitItem(challenge)">
          <br>
        </span>
        <div ng-if="displayInclude('admin')">
          <span class="pull-right btn btn-danger" ng-click="confirmDelete(challenge)">
            <span class="glyphicon glyphicon-trash"></span>
          </span>
          <span class="pull-right btn btn-primary" ui-sref="challenges.edit({challengeId: challenge._id})">
            <span class="glyphicon glyphicon-edit"></span>
          </span>
        </div>
  	  </form>
      <br>
    </div>
	  </td></tr>
    </tr>
  </table>
  <div class="alert alert-warning text-center" ng-if="challenges.$resolved && !challenges.length && displayInclude('admin')">
    No challenges yet, why don't you <a ui-sref="challenges.create">create one</a>?
  </div>
</section>
