<section ng-controller="UserAuthsController" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit User Auth</h1>
  </div>
  <div class="col-md-12">
    <form name="userAuthForm" class="form-horizontal" ng-submit="update(userAuthForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="provider">Provider</label>
          <input name="provider" type="text" ng-model="userAuth.provider" id="provider" class="form-control" placeholder="Provider" required>
          <div ng-messages="userAuthForm.provider.$error" role="alert">
            <p class="help-block error-text" ng-message="required">User Auth provider is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="providerImage">Provider Image</label>
          <input name="providerImage" type="text" ng-model="userAuth.providerImage" id="providerImage" class="form-control" placeholder="Provider Image" required>
          <div ng-messages="userAuthForm.providerImage.$error" role="alert">
            <p class="help-block error-text" ng-message="required">User Auth provider image is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="authType">User Auth Type</label>
          <select name="authType" type="text" ng-model="userAuth.authType" id="authType" class="form-control" required>
            <option value="facebook">Facebook</option>
            <option value="github">GitHub</option>
            <option value="saml">GitHub</option>
            <option value="google">Google</option>
            <option value="linkedin">LinkedIn</option>
            <option value="oauth2">OAuth v2.0</option>
            <option value="openidconnect">OpenID Connect</option>
          </select>
        </div>
        <div ng-show="userAuth.authType">
          <div ng-if="needed[userAuth.authType]">
            <div class="form-group" show-errors>
              <label for="authURL">User Auth URL</label>
              <input name="authURL" type="text" ng-model="userAuth.authURL" id="authURL" class="form-control" placeholder="User Auth URL">
              <div ng-messages="userAuthForm.authURL.$error" role="alert">
                <p class="help-block error-text" ng-message="required">User Auth URL is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="tokenURL">User Token URL</label>
              <input name="tokenURL" type="text" ng-model="userAuth.tokenURL" id="tokenURL" class="form-control" placeholder="User Token URL" required>
              <div ng-messages="userAuthForm.tokenURL.$error" role="alert">
                <p class="help-block error-text" ng-message="required">User Token URL is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="userInfoURL">User Info URL</label>
              <input name="userInfoURL" type="text" ng-model="userAuth.userInfoURL" id="userInfoURL" class="form-control" placeholder="User Info URL" required>
              <div ng-messages="userAuthForm.userInfoURL.$error" role="alert">
                <p class="help-block error-text" ng-message="required">User Info URL is required.</p>
              </div>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="clientId">User Auth Client ID</label>
            <input name="clientId" type="text" ng-model="userAuth.clientId" id="clientId" class="form-control" placeholder="User Auth Client ID" required>
            <div ng-messages="userAuthForm.clientId.$error" role="alert">
              <p class="help-block error-text" ng-message="required">User Auth client ID is required.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="clientSecret">User Auth Client Secret</label>
            <input name="clientSecret" type="text" ng-model="userAuth.clientSecret" id="clientSecret" class="form-control" placeholder="User Auth Client Secret" required>
            <div ng-messages="userAuthForm.clientSecret.$error" role="alert">
              <p class="help-block error-text" ng-message="required">User Auth Client Secret is required.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="scope">Scope</label>
            <input name="scope" type="text" ng-model="userAuth.scope" id="scope" class="form-control" placeholder="Scope">
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Save Auth" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
