<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <base href="/">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="fragment" content="!">

    <!-- Apple META -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Facebook META -->
    <meta property="fb:app_id" content="{{facebookAppId}}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:image" content="{{url}}{{logo}}">
    <meta property="og:type" content="website">

    <!-- Twitter META -->
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:url" content="{{url}}">
    <meta name="twitter:image" content="{{url}}modules/core/img/brand/logo.png">

    <!-- Fav Icon -->
    <link href="{{url}}{{favicon}}" rel="shortcut icon" type="image/x-icon">

    <!-- Application CSS Files -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha256-8uHMIn1ru0GS5KO+zf7Zccf8Uw12IA5DrdEcmMuWLFM=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/7.0.0/rzslider.min.css" integrity="sha256-gJdF8Y1vlsXPnH/pVEngNDhmf6z+r5qOKg/Sv1SoIf4=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css" integrity="sha256-zuyRv+YsWwh1XR5tsrZ7VCfGqUmmPmqBjIvJgQWoSDo=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin="anonymous" />

    {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="{{cssFile}}">
    {% endfor %}
</head>

<body class="ng-cloak">

<!--We don't have access to the far left of the page within modules.-->
<!--Adding a sidebar was only possible in the server layout view.-->

<div class="col-md-12 full-height no-pad">
    <header ng-include="'/modules/core/client/views/header.client.view.html'"
            class="col-md-12 navbar navbar-fixed-top navbar-inverse"></header>

    <div class="col-md-2 row pull-left full-height no-pad content" data-ng-show="$state.includes('ctfEvents.dashboard')">
        <div class="side-menu">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <div class="brand-wrapper">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>

                <div class="side-menu-container">
                    <ul class="nav navbar-nav" ng-click="">
                        <li><a ui-sref="ctfEvents.registration({ctfEventId: $state.params.ctfEventId})"><span class="glyphicon glyphicon-send"></span>Registration</a></li>
                        <li><a ui-sref="ctfEvents.board({ctfEventId: $state.params.ctfEventId})"><span class="glyphicon glyphicon-signal"></span>Scoreboard</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-plane"></span> Chat</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-cloud"></span> Key Store</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <section ng-class="$state.includes('ctfEvents.dashboard') ? 'content col-md-10' : 'content col-md-12'">
        <section class="container">
            {% block content %}{% endblock %}
        </section>
    </section>
</div>

<!--Embedding The User Object-->
<script type="text/javascript">
  var user = {{ user | json | safe }};
</script>

<!--Load The Socket.io File-->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<!--Application JavaScript Files-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/api-check/7.5.5/api-check.min.js" integrity="sha256-OHJ6IaESrDcJymbXxNaeH7zeO4kKVc6G0REiGPAzj7E=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4=" crossorigin="anonymous"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.20/angular.min.js" integrity="sha256-riiE+wIXkbxnkTDMpOtoNKipXuZ+5uGK1sRfVveiBL8=" crossorigin="anonymous"></script>-->
<script type="text/javascript" src="lib/angular.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-formly/8.4.1/formly.min.js" integrity="sha256-g3B1djKL96gzTzsjPAs0TA2nvSO7V790ZowNMlJPYe8=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-formly-templates-bootstrap/6.5.1/angular-formly-templates-bootstrap.min.js" integrity="sha256-vIAdvXGq/Mq2G6PGqSLvC2NkdFC6EP4v4sB14VFx2E0=" crossorigin="anonymous"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/7.0.0/rzslider.min.js" integrity="sha256-gl58D1B9kkbvc+xxgu6mnITa7nofc4ZUmngdZJNoQsA=" crossorigin="anonymous"></script>-->
<script type="text/javascript" src="lib/rzslider.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.20/angular-resource.min.js" integrity="sha256-uPieOYa75gqAYaKx7EOogxmdpN5QbYe5h3yj+b0um9Y=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.20/angular-animate.min.js" integrity="sha256-LqQ2Do24ppcMC0n5qtdUhcnAJBRLVKMLLBbMY5MVl5o=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-cache/4.6.0/angular-cache.min.js" integrity="sha256-UddglcXzkrNeF74XhWbajnR2U4yaXP8+dqKF33XXoUc=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.20/angular-messages.min.js" integrity="sha256-I8E8p9ek5/0+ZjRctovf7lV9sfaDu9tNbBTjarxDFG4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.23/angular-ui-router.min.js" integrity="sha256-/yKD0h/FA30RNWqZE+kFCIsm5m8uvL6pq8yCu63rFy0=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js" integrity="sha256-loUUX8ZpF0JTbjSaKVOCioT9cpAS808Aywm4om9xO28=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/2.5.0/angular-file-upload.min.js" integrity="sha256-q2NwSnlRnwmBWxaTqnvAIhI02QSctA9asRD9MiHK7Ek=" crossorigin="anonymous"></script>

<script type="text/javascript" src="lib/owasp-password-strength-test.js"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js" integrity="sha256-6vbKDGwy9JmzGKxxeypGzCjyOmACDtgheaOQT6ZVafA=" crossorigin="anonymous"></script>-->
<script type="text/javascript" src="lib/ui-bootstrap.min.js"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js" integrity="sha256-tyfWW2LtJQNI+l3F0h6xDV/ij6Mfn8lwSKHWOsmEgXM=" crossorigin="anonymous"></script>-->
<script type="text/javascript" src="lib/ui-bootstrap-tpls.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js" integrity="sha256-JirYRqbf+qzfqVtEE4GETyHlAbiCpC005yBTa4rj6xg=" crossorigin="anonymous"></script>-->
<script type="text/javascript" src="lib/sweetalert.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>

{% for jsFile in jsFiles %}
<script type="text/javascript" src="{{jsFile}}"></script>
{% endfor %}

{% if livereload %}
<!--Livereload script rendered -->
<script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
{% endif %}
</body>

</html>
