<div>
    <div class="clearfix">
        <div class="row"
             style="margin-bottom:14px"
             ng-repeat="item in model[options.key] track by $index"
             ng-init="itemOptions = copyItemOptions()">

            <formly-field class="no-padding col-xs-10"
                          options="itemOptions"
                          model="model[options.key][$index]"
                          form="form"
                          index="$index">
            </formly-field>

            <div class="col-xs-2" style="margin-top:6px">
                <input type="checkbox" ng-if="model.format === 'select'" ng-checked="false"/>
                <input type="radio" ng-if="model.format === 'radio'" ng-model="correctAnswer" ng-click="setCorrect(model[options.key][$index])" />
                <button type="button" ng-click="model[options.key][$index].correct = !model[options.key][$index].correct" ng-if="model.type === 'text'" class="btn btn-primary btn-xs">
                    Correct
                </button>
                <button type="button" ng-if="model.type === 'text'" ng-click="model[options.key][$index].regex = !model[options.key][$index].regex" class="btn btn-warning btn-xs">
                    Regex
                </button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="model[options.key].splice($index, 1)">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                </button>
            </div>

        </div>
    </div>
    <div>
        <button type="button" class="btn btn-success btn-xs" ng-click="model.type === 'text' ? model[options.key].push({correct: false, regex: false}) : model[options.key].push({correct: false})">Add</button>
    </div>
</div>
