<section ng-controller="ChallengeUpdateController">
    <div class="page-header">
        <div class="pull-right">
            <button class="btn btn-primary"  ng-click="updateOrCreate()">Update</button>
            <a class="btn btn-danger" ng-click="removeChallenge()" ng-if="id!='new'">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <h1>Challenge Detail</h1>
    </div>
    <div class="col-md-12">
        <form ng-submit="submit()" novalidate>
            <formly-form model="model" fields="fields" form="form"></formly-form>
        </form>
    </div>
</section>
