<section ng-controller="CtfEventsController" ng-init="find()">
  <div class="page-header">
    <h1>CtfEvents
      <button type=button class="btn btn-success pull-right" ui-sref="ctfEvents.create">Create Event</button>
      <!--<i class="glyphicon glyphicon-plus"></i>-->
      </h1>
  </div>
  <div class="list-group">
    <a ng-repeat="ctfEvent in ctfEvents" ui-sref="ctfEvents.edit({ctfEventId: ctfEvent._id})" class="list-group-item">
      <small class="list-group-item-text">
        Created on
        <span ng-bind="ctfEvent.created | date:'mediumDate'"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="ctfEvent.title"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="ctfEvents.$resolved && !ctfEvents.length">
    No ctfEvents yet, why don't you <a ui-sref="ctfEvents.create">create one</a>?
  </div>
</section>
