<section ng-controller="HomeController">
  <div class="row" style="padding: 40px">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 bu">
      <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/Tallylogo_1.png" />
    </div>
  </div>
  <br>
  <div class="row">

    <h2 class="text-center nice_font" >
      Welcome to TallyCTF
    </h2>
    <h2 class = 'text-center nice_font' ng-show="!authentication.user">
      Click <a ui-sref="authentication.signup">here</a>  to signup and register your team.
    </h2>

  </div>
  <!--
  <div class="row">
    <div class = "col-sm-2 col-md-offset-12"></div>
    <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
  </div>
  </div>
-->
</section>
