<section ng-controller="TeamsController" ng-init="find()">
  <div class="page-header">
    <div class="pull-right" ng-if="shouldRender('user')">
      <a class="btn btn-success" id ="addTeams1" ui-sref="teams.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div>
    <h1>Teams</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="team in teams" ui-sref="teams.view({teamId: team._id})" class="list-group-item">
      <div class="pull-right" ng-if="shouldRender('user') && shouldReq(team)">
        <button ng-click='requestsToJoin(team)'>Join</button>
      </div>
      <h4 class="list-group-item-heading" ng-bind="team.teamName"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="teams.$resolved && !teams.length">
    No teams yet, why don't you <a ui-sref="teams.create">create one</a>?
  </div>
</section>
