<section ng-controller="EditTeamsController">
    <div class="page-header">
      <div class="pull-right">
        <a class="btn btn-success" ui-sref="teams.view({teamId: team._id})">
          <i class="glyphicon glyphicon-hand-left"></i>
        </a>
      </div>
        <h1>Edit Teams</h1>
    </div>
    <div class="col-md-12">
        <form name="teamForm" class="form-horizontal" ng-submit="update(teamForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" show-errors>
                    <label for="teamName">Team Name</label>
                    <input name="teamName" type="text" ng-model="team.teamName" id="teamName" class="form-control" placeholder="Team Name" required>
                    <div ng-messages="teamForm.teamName.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Team name is required.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="members">Team Members</label>
                    <div class="list-group">
                        <div class="list-group-item" ng-repeat="member in users | members:team">
                            <div class="pull-right" ng-show="team.teamCaptain !== member._id">
                                <a class="btn btn-xs btn-danger" ng-click="removeMember(member, $index)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                            <span ng-bind="member.username"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-success">
                </div>
                <div ng-show="error" class="text-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
