<section ng-controller="UserAuthsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="userAuth.provider"></h1>
    <h3 ng-bind="userAuth.authType"></h3>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ui-sref="userAuths.edit({userAuthId: userAuth._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div>
    <div ng-repeat="(key, value) in userAuth">
      <div ng-show="value">
        <label>{{key}}</label>
        <p ng-bind="value"></p>
      </div>
    </div>
  </div>
</section>
