<section ng-controller="UserAuthsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="userAuth.provider"></h1>
    <h3 ng-bind="userAuth.authType"></h3>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ui-sref="userAuths.edit({userAuthId: userAuth._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div>
    <label>Auth URL</label>
    <p ng-bind="userAuth.authURL"></p>

    <label>Token URL</label>
    <p ng-bind="userAuth.tokenURL"></p>

    <label>User Info URL</label>
    <p ng-bind="userAuth.userInfoURL"></p>

    <label>Client ID</label>
    <p ng-bind="userAuth.clientId"></p>

    <label>Client Secret</label>
    <p ng-bind="userAuth.clientSecret"></p>

    <label>Scope</label>
    <p ng-bind="userAuth.scope"></p>
    <small>
      <p ng-bind="userAuth.updated"></p>
      <p ng-bind="userAuth.created"></p>
    </small>
  </div>
</section>
