<section ng-controller="ScoreBoardController" ng-init="find()">
  <div class="page-header">
    <h1>Score Board</h1>
  </div>
  <div class="list-group">
  <table class="table table-striped">
  <thead>
  <tr>
      <th> Team </th>
	  <th> Solves </th>
	  <th> Score </th>
  </tr>
  </thead>
    <tr ng-repeat="scoreBoard in scoreBoard" class="list-group-item">
      <td>{{scoreBoard.teamID}}</td>
      <td>{{scoreBoard.solved}}</td>
      <td>{{scoreBoard.score}}</td>
    </tr>
  </table>	
  </div>
</section>
