<div ng-controller="CreateEventsController">
    <div class="page-header">
        <h1>New Event
            <button type=button class="btn btn-success pull-right" ng-click="create(ctfEventForm.$valid)">Create Event
            </button>
        </h1>
    </div>

    <div class="col-md-12">
        <form name="ctfEventForm" role="form" class="form-horizontal" ng-submit="create(ctfEventForm.$valid)"
              novalidate>
            <fieldset>

                <div class="form-group" show-errors>
                    <label for="title">Event Title</label>
                    <input name="title" type="text" ng-model="title" id="title" class="form-control margin-bottom"
                           placeholder="Event Title" required>
                    <div ng-messages="ctfEventForm.title.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Event title is required.</p>
                    </div>
                    <label for="title">Event Description</label>
                    <input name="description" type="text" ng-model="description" id="description"
                           class="form-control margin-bottom" placeholder="Event Description" required>
                </div>

                <div class="form-group collapse-group">
                    <button class='btn btn-secondary btn-block' for="content" bcollapse>Conditional Start / End</button>
                    <div class="collapse">
                        <div class="well well-lg" id="startend">
                            <div class="form-group margin-bottom row">
                                <div class="col-md-offset-1 col-md-5 margin-right">
                                    <label for="start">Start Time</label>
                                    <input name="start" type="datetime" ng-model="start" id="start"
                                           class="form-control date" datetime>
                                </div>
                                <div class="col-md-5 ">
                                    <label for="end">End Time</label>
                                    <input name="end" type="datetime" ng-model="end" id="end" class="form-control date"
                                           datetime>
                                </div>
                            </div>
                            <div class="form-group margin-bottom">
                                <div class="col-md-offset-1 col-md-5 margin-right">
                                    <label for="registrationStart">Registration Start Time</label>
                                    <input name="registrationStart" type="datetime" ng-model="registrationStart"
                                           id="registrationStart" class="form-control date" datetime>
                                </div>
                                <div class="col-md-5">
                                    <label for="registrationEnd">Registration End Time</label>
                                    <input name="registrationEnd" type="datetime" ng-model="registrationEnd"
                                           id="registrationEnd" class="form-control date" datetime>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group collapse-group" ng-if="challengeOptions.items.length > 0 || challengeOptions.selectedItems.length > 0">
                    <button class="btn btn-secondary btn-block" bcollapse>Challenges</button>
                    <div class="collapse well well-lg">
                        <div>
                            <dual-multi options="challengeOptions"></dual-multi>
                        </div>
                    </div>
                </div>

                <div class="form-group collapse-group"ng-if=" userOptions.items.length > 0 || userOptions.selectedItems.length > 0">
                    <button class="btn btn-secondary btn-block" bcollapse>Users</button>
                    <div class="collapse well well-lg">
                        <div>
                            <dual-multi options="userOptions"></dual-multi>
                        </div>
                    </div>
                </div>

                <div class="collapse-group form-group margin-bottom">
                    <button class='btn btn-block btn-secondary' bcollapse>Import from saved Event</button>
                    <div class="collapse well well-lg list-group">
                        <p class="list-group-item">TODO</p>
                    </div>
                </div>

                <div ng-show="error" class="text-danger">
                    <strong ng-bind="error"></strong>
                </div>

            </fieldset>
        </form>
    </div>
</div>