<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<div id="page-wrapper" ng-controller="ScoreController">
    <div class="col-lg-12 content">
        <div class="container">
            <div class="jumbotron text-right">
                <h1>Current Score! <small>{{ctfEvent.title}}</small></h1>
                <div ng-repeat="team in eventTeams" class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{team.points}}" aria-valuemin="0" aria-valuemax="100" style="width: {{team.points}}%;">
                        <span class="sr-only">{{team.points}}</span>
                    </div>
                    <span class="progress-type">{{team.teamName}}</span>
                    <span class="progress-completed">{{team.points}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

