<section ng-controller="EventRegistrationController">
    <div>
       <div class="page-header">
         <h1>Event Teams</h1>
       </div>
     </div>

      <h3>Your Teams</h3>
        <div class="list-group">
          <a ng-repeat="team in userTeams" ui-sref="teams.view({teamId: team._id})"  class="list-group-item">
            <button class="btn btn-danger btn-xs pull-right "
                    ng-if="team.teamCaptain !== authentication._id && team.members.indexOf(authentication._id) > -1"
                    ng-click="leaveTeam(team._id)"> Leave Team <i class="glyphicon glyphicon-log-out"></i> </button>

            <button  ng-show='notOnEventTeam(team)' class="btn btn-success btn-xs pull-right push-right"
                     ng-click="selectTeam(team)"> Select<i class="glyphicon glyphicon-log-in"></i> </button>
            <h4 class="list-group-item-heading" ng-bind="team.teamName"></h4>
          </a>
          <p class="alert alert-warning text-center" ng-if="!userTeams.length">You have no teams.</p>
        </div>

      <div ng-controller="TeamsListController">
          <h3>Event's Teams</h3>
          <div class="list-group">
            <a ng-repeat="team in eventTeams" ui-sref="teams.view({teamId: team._id})" class="list-group-item">
                <div class="pull-right" ng-if="shouldRender() && canRequest(team)">
                    <button class="btn btn-primary btn-xs" ng-click='askToJoin(team)'>Join</button>
                </div>
              <h4 class="list-group-item-heading" ng-bind="team.teamName"></h4>
            </a>
          </div>
          <p class="alert alert-warning text-center" ng-if="!eventTeams.length">The event has no teams.</p>
      </div>

  </div>
</section>
