<section ng-controller="EventRegistrationController" ng-init="find()">
  <div class="page-header">
    <h1>Event Teams</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="team in teams" ui-sref="ctfEvents.registration-team-view({teamId: team._id})" class="list-group-item">
      <div class="pull-right" ng-if="shouldRender(['user', 'teamCaptain']) && shouldReq(team)">
        <button ng-click='requestsToJoin(team)'>Join</button>
      </div>
      <h4 class="list-group-item-heading" ng-bind="team.teamName"></h4>
    </a>
  </div>
</section>
