<section ng-controller="ListEventsController">
    <div class="page-header">
      <h1>Upcoming Events
      <div class="pull-right">
        <a class="btn btn-success" ng-if="authentication.roles.indexOf('admin') > 0" id="addTeams1" ui-sref="ctfEvents.create">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
      </div>
      </h1>
    </div>
    <div class="list-group">
        <a ng-repeat="ctfEvent in ctfEvents" ui-sref="{{isRegistered(ctfEvent)}}"
           ng-class="isRegistered(ctfEvent) === '-' ? 'list-group-item disabled' : 'list-group-item'">
            <small class="list-group-item-text">
                Created on
                <span ng-bind="ctfEvent.created | date:'mediumDate'"></span>
            </small>
            <div class="pull-right">
                <button class='btn btn-success' ng-show="isRegistered(ctfEvent) === '-' && canRegister(ctfEvent)" ng-click="registerForEvent(ctfEvent._id)">
                    <i class="fa fa-pencil-square-o"></i>register</button>
            </div>
            <h4 class="list-group-item-heading" ng-bind="ctfEvent.title"></h4>
        </a>
      <div class="alert alert-warning text-center" ng-if="ctfEvents.$resolved && !ctfEvents.length"> No events yet!</div>
    </div>

    <script type="text/ng-template" id="captain.modal.html">
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Would you like to register a team?</h4>
                    </div>
                    <div class="modal-body">
                        <select ng-model="selectedTeam" ng-options="team.teamName for team in usersTeams"></select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Finish</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="member.modal.html">
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Would you like to join one of your teams</h4>
                    </div>
                    <div class="modal-body">
                        <select ng-model="selectedTeam" ng-options="team.teamName for team in usersTeams"></select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Finish</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
</section>
