<section ng-controller="TeamsController" ng-init="findOne()">
  <div class="page-header">
    <div class="pull-right" ng-if="shouldRender(['admin', 'teamCaptain']) && isCaptain()">
      <a class="btn btn-primary" ui-sref="teams.edit({teamId: team._id})">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="confirmDelete()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <h1 ng-bind="team.teamName"></h1>
  </div>
  <div class="pull-right" ng-if="shouldRender('teamCaptain') && isCaptain(true)">
    <a class="btn btn-success" ui-sref="teams.add">
      <i class="glyphicon glyphicon-plus"></i>
    </a>
  </div>
  <h2>Team Members</h2>
  <div class="list-group">
    <div class="list-group-item" ng-repeat="member in team.members">
      <div ng-show="team.teamCaptain._id === member._id" class="pull-right">
        <small>
          <p>Team Captain</p>
        </small>
      </div>
      <span ng-bind="member.username"></span>
    </div>
  </div>
  <div ng-if="shouldRender('teamCaptain') && isCaptain(true)" class="list-group">
    <h3>Pending Requests</h3>
    <a ng-repeat="request in team.requestToJoin" class="list-group-item">
      <small class="list-group-item-text">
        <div class="pull-right">
          <button ng-click='decline(request, $index)'>Decline</button>
        </div>
        <div class="pull-right">
          <button ng-click='accept(request, $index)'>Accept</button>
        </div>
      </small>
      <h4 ng-bind="request.username" class="list-group-item-heading"></h4>
    </a>
    <p class="alert alert-warning text-center" ng-if="team.$resolved && !team.requestToJoin.length">No pending requests!</p>

    <h3>Pending Invitations</h3>
    <a ng-repeat="request in team.askToJoin" class="list-group-item">
      <h4 ng-bind="request.username" class="list-group-item-heading"></h4>
    </a>
    <p class="alert alert-warning text-center" ng-if="team.$resolved && !team.askToJoin.length">No pending invites!</p>
  </div>
</section>
