<section ng-controller="TeamsController">
  <div class="page-header">
    <h1>New Team</h1>
  </div>
  <div class="col-md-4">
    <form name="teamForm" class="form-horizontal" ng-submit="create(teamForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Team Name</label>
          <input name="teamName" type="text" ng-model="teamName" id="teamName" class="form-control" placeholder="teamName" required>


          <div ng-messages="teamForm.teamName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Team name is required.</p>
            <p class="help-block error-text" ng-message="required">Team captain is required.</p>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
