<section ng-controller="TeamsController" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Teams</h1>
  </div>
  <div class="col-md-12">
    <form name="teamForm" class="form-horizontal" ng-submit="update(teamForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="teamName">Team Name</label>
          <input name="teamName" type="text" ng-model="team.teamName" id="teamName" class="form-control" placeholder="teamName" required>
          <div ng-messages="teamForm.teamName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Team name is required.</p>
          </div>
        </div>
        
        <div class="form-group">
          <label for="members">Team Members</label>
          <div class="list-group">
            <div class="list-group-item" ng-repeat="member in team.members">
              <div ng-show="member.roles.indexOf('teamCaptain') !== -1" class="pull-right">
                <btn class="btn btn-danger" ng-click="removeMember(member)">
                  <span class="glyphicon glyphicon-remove"></span>
                </btn>
              </div>
              <span ng-bind="member.username"></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
