.content {
    height: 100%;
    margin-top: 50px;
}

.no-pad {
    padding-left: 0;
    padding-right: 0;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.margin-top {
    margin-top: 50px;
}

.full-height {
    height: 100%;
}

.undecorated-link:hover {
    text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.header-profile-image {
    opacity: 0.8;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 5px;
}

.open .header-profile-image,
a:hover .header-profile-image {
    opacity: 1;
}

.user-header-dropdown-toggle {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}

.error-text {
    display: none;
}

.has-error .help-block.error-text {
    display: block;
}

.has-error .help-inline.error-text {
    display: inline;
}

/*ctfEvent Sidebar*/

.row {
    margin-right: 0;
    margin-left: 0;
}

.side-menu {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}

.side-menu .navbar {
    border: none;
}

.side-menu .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu .navbar-nav .active a {
    background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #e7e7e7;
}

.side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu .navbar-nav li a {
    padding: 15px;
}

.side-menu .navbar-nav li a .glyphicon {
    padding-right: 10px;
}

.side-body {
    margin-left: 310px;
}
